<div id="main_container">
<h1>ADD A NEW COCKTAIL</h1>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name  %>
  <%= f.input :photo, class:'btn btn-primary' %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit class: 'btn btn-primary' %>

  <%= link_to 'Go back to homepage', cocktails_path, class:'btn btn-outline-primary' %>
<% end %>
</div>
