<%= render 'components/banner-cocktail', cocktail: @cocktail  %>

<div id="main_container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="card-trip">
        <%= image_tag "ingredients.jpg", crop: :fill %>
        <div class="card-trip-infos d-flex flex-column justify-content-start">
          <div>
            <h2>Ingredients you'll need</h2>
            <h2>-----------------------</h2>
          </div>
        <% @cocktail.doses.each do |dose| %>
          <div class="mt-1 mb-1 d-flex flex-inline justify-content-between">
            <p class="ml-3"><%= dose.description %> of <strong><%= dose.ingredient.name %></strong>
            <div class="mr-3">
              (<%= link_to 'Remove ingredient', dose_path(dose), method: :delete, class: 'mb-4' %>)</p>
            </div>
          </div>
        <% end %>
          <div>
            <h2 class="mt-2">Make it right, follow these steps:</h2>
            <h2>-----------------------</h2>
            <%= simple_format(@cocktail.description) %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <%= render 'components/card-product', cocktail: @cocktail, dose: @dose  %>
    </div>

  </div>
</div>
